/* .rollDiceContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
} */

.first-div {
	margin-top: 1em;

	justify-content: space-around;
	text-align: center;
}
.drop-down {
	margin: 5px;
}
.h1tag {
	display: inline;
}
@media only screen and (min-device-width: 300px) and (max-device-width: 800px) {
	.DieContainer {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: center;
	}
}
@media only screen and (min-device-width: 800px) {
	.DieContainer {
		display: flex;
		justify-content: space-around;
		align-content: center;
	}
}

/* for roll dice!! button  */
.roll-dice-btn {
	border: 0px;
	margin-top: 3em;
	color: whitesmoke;
	background-color: slateblue;
}

.roll-dice-btn:hover {
	cursor: pointer;
	background-color: black;
}

.credit-btn {
	color: slateblue;
}
.credit-btn:hover {
	background-color: black;
}
